Zadanie_5-Konwerter_Jednostek/.vs/Zadanie_5-Konwerter_Jednostek/FileContentIndex/ade78057-c837-424d-b07e-1565292dd75d.vsidx
Zadanie_5-Konwerter_Jednostek/.vs/Zadanie_5-Konwerter_Jednostek/FileContentIndex/69574f2a-aea8-43b0-8a75-fe728a682a5a.vsidx
